@page "/RenderModes/Auto"

@using e575_Lab_Localhost_BlazorWebApp.Client.Pages

<PageTitle>Render Mode Auto</PageTitle>

<h4>Render Mode Auto</h4>

<ShowDateAndTime @rendermode="@RenderMode.InteractiveAuto" />

