@page "/RenderModes/Server"

@using e575_Lab_Localhost_BlazorWebApp.Client.Pages

<PageTitle>Render Mode Server</PageTitle>

<h4>Render Mode Server</h4>

<ShowDateAndTime @rendermode="@RenderMode.InteractiveServer"/>

@code 
{

}
