@page "/RenderModes/WebAssembly"

@using e575.BlazorWebApp.Client.Pages

<PageTitle>Render Mode WebAssembly</PageTitle>

<h4>Render Mode WebAssembly</h4>

<ShowDateAndTime @rendermode="@RenderMode.InteractiveWebAssembly" />