<h3>@_mensagem</h3>

@code {

    private string _mensagem = String.Empty;

    protected override Task OnInitializedAsync()
    {

        _mensagem = DateTime.UtcNow.ToString("YYYY-MM-DD hh:mm:ss");

        return base.OnInitializedAsync();
    }

    
}
